/**
 * @file
 * Manage autocomplete flexible widget styling.
 */

.form-item-entity-autocomplete {
  margin-bottom: 0;
}

.autocomplete-flexible-textfield {
  display: block;
  min-width: 100%;
}

.list-custom-select-class {
  margin: 0;
  padding: 0.5rem;
  border-top: 1px solid #ccc;
}

.list-custom-select-class li {
  position: relative;
  display: block;
  margin: 1rem .5rem;
  padding: 0;
}

.list-custom-select-class li + li {
  border-top: 1px solid #ccc;
}

.list-custom-select-class li:hover {
  background-color: #e1e1e1;
}

.list-custom-select-class li p {
  margin: 0;
}

.button.button-custom-remove-class {
  position: absolute;
  top: 50%;
  right: 0;
  display: inline-block;
  margin-top: -20px;
  height: 40px;
}
